In [3]:
import pandas as pd
df=pd.read_csv("/content/Heart_attack.csv")
df

,HeartDiseaseorAttack,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,Diabetes,PhysActivity,HvyAlcoholConsump,MentHlth,PhysHlth,Sex,Age,Education,Income
0,0,1,1,1,40.0,1,0,0,0,0,18,15,0,9,4,3
1,0,0,0,0,25.0,1,0,0,1,0,0,0,0,7,6,1
2,0,1,1,1,28.0,0,0,0,0,0,30,30,0,9,4,8
3,0,1,0,1,27.0,0,0,0,1,0,0,0,0,11,3,6
4,0,1,1,1,24.0,0,0,0,1,0,3,0,0,11,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129993,0,1,1,1,25.0,1,0,0,1,0,0,28,0,7,6,7
129994,0,0,0,1,27.0,0,0,0,0,0,0,0,0,9,6,8
129995,0,0,0,1,29.0,0,0,0,1,0,2,5,0,4,6,8
129996,0,0,0,0,21.0,0,0,0,1,0,0,5,0,4,6,8
129997,0,0,0,1,21.0,1,0,0,1,1,0,0,0,10,6,6

In [4]:
df.isna().sum()

HeartDiseaseorAttack     0
HighBP                   0
HighChol                 0
CholCheck                0
BMI                     10
Smoker                   0
Stroke                   0
Diabetes                 0
PhysActivity             0
HvyAlcoholConsump        0
MentHlth                 0
PhysHlth                 0
Sex                      0
Age                      0
Education                0
Income                   0
dtype: int64

In [5]:
df['BMI'].fillna(df['BMI'].median(),inplace=True)

/tmp/ipython-input-4225218744.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BMI'].fillna(df['BMI'].median(),inplace=True)

In [6]:
df['HeartDiseaseorAttack'].value_counts()

HeartDiseaseorAttack
0    117842
1     12156
Name: count, dtype: int64

In [7]:
x=df.drop('HeartDiseaseorAttack',axis=1)
y=df['HeartDiseaseorAttack']
print(x)
print(y)

        HighBP  HighChol  CholCheck   BMI  Smoker  Stroke  Diabetes  \
0            1         1          1  40.0       1       0         0
1            0         0          0  25.0       1       0         0
2            1         1          1  28.0       0       0         0
3            1         0          1  27.0       0       0         0
4            1         1          1  24.0       0       0         0
...        ...       ...        ...   ...     ...     ...       ...
129993       1         1          1  25.0       1       0         0
129994       0         0          1  27.0       0       0         0
129995       0         0          1  29.0       0       0         0
129996       0         0          0  21.0       0       0         0
129997       0         0          1  21.0       1       0         0

        PhysActivity  HvyAlcoholConsump  MentHlth  PhysHlth  Sex  Age  \
0                  0                  0        18        15    0    9
1                  1                  0         0         0    0    7
2                  0                  0        30        30    0    9
3                  1                  0         0         0    0   11
4                  1                  0         3         0    0   11
...              ...                ...       ...       ...  ...  ...
129993             1                  0         0        28    0    7
129994             0                  0         0         0    0    9
129995             1                  0         2         5    0    4
129996             1                  0         0         5    0    4
129997             1                  1         0         0    0   10

        Education  Income
0               4       3
1               6       1
2               4       8
3               3       6
4               5       4
...           ...     ...
129993          6       7
129994          6       8
129995          6       8
129996          6       8
129997          6       6

[129998 rows x 15 columns]
0         0
1         0
2         0
3         0
4         0
         ..
129993    0
129994    0
129995    0
129996    0
129997    0
Name: HeartDiseaseorAttack, Length: 129998, dtype: int64

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [9]:
from sklearn.preprocessing import StandardScaler
obj1=StandardScaler()
x_train=obj1.fit_transform(x_train)
x_test=obj1.fit_transform(x_test)

In [19]:
from sklearn.linear_model import LogisticRegression
lr_model3=LogisticRegression()
lr_model3.fit(x_train,y_train)
predict1=lr_model3.predict(x_test)

In [20]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(predict1,y_test)
print(accuracy*100)

90.51794871794871

In [21]:
import pickle
with open('lr_model3.pkl','wb')as f:
  pickle.dump(lr_model3,f)

# Decision tree

In [13]:
# from sklearn.tree import DecisionTreeClassifier
# lr_model5=DecisionTreeClassifier()
# lr_model5.fit(x_train,y_train)
# predict3=lr_model5.predict(x_test)

In [14]:
# from sklearn.metrics import accuracy_score
# accuracy=accuracy_score(predict3,y_test)
# print(accuracy*100)

85.35384615384616

*RandomForestClassfier*

In [15]:
# from sklearn.ensemble import RandomForestClassifier
# RF_model5=RandomForestClassifier(n_estimators=100)
# RF_model5.fit(x_train,y_train)
# predict4=RF_model5.predict(x_test)

In [16]:
# from sklearn.metrics import accuracy_score
# accuracy=accuracy_score(predict4,y_test)
# print(accuracy*100)

89.79743589743589

*KNN:- K-Nearest Neighbor*

In [17]:
# from sklearn.neighbors import KNeighborsClassifier
# lr_model6=KNeighborsClassifier(n_neighbors=10)
# lr_model6.fit(x_train,y_train)
# predict5=lr_model6.predict(x_test)

In [18]:
# from sklearn.metrics import accuracy_score
# accuracy=accuracy_score(predict5,y_test)
# print(accuracy*100)

90.3102564102564